body {
        background-image: radial-gradient(
          ellipse at center, 
          rgba(0,33,82,1) 0%, 
          rgba(0,0,0,1) 100%
        );
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h1 {
    background-color: rgba(64, 64, 64, 0.344);
    border-radius: 5px;
    padding: 2vh;
    text-shadow: 3px 3px 3px black;
    box-shadow: 5px 5px 5px 5px black;
}

li {
    background-color: rgba(128, 128, 128, 0.614);
    border-radius: 5px;
    padding: 1vh;
    text-shadow: 3px 3px 3px black;
    box-shadow: 5px 5px 5px 5px black;
}

.bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    background-image: url("https://img.poki.com/cdn-cgi/image/quality=78,width=600,height=600,fit=cover,f=auto/https://img.poki.com/26c6e4e18eeaa62590fccd44ea7812f8.png");
    background-size: 100% 100%;    
    padding: 3vh;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}
.container li {
    list-style: none;
    display: inline;
    margin: 3vh;
    margin-top: 3vh;
}

.containerButtons button {
    box-shadow: 5px 5px 5px black;
}

.containerButtons {
    display: flex;
    width: 40vh;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10vh;
}